<!Doctype html>
<html>
	<head>
		<title> {% block titulo %} Comentários Blog Estag {% endblock %} </title>
		{% block style %}
			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
		{% endblock style %}
	</head>
	<body>
		<div class="comentario">
			{% block body %}
				{% if post_id %}
					<h1>Nome: Suelen Santos</h1>
					<h1>Comentário: Primeiro comentário</h1>
					<h1>Data: 21-10-2016</h1>
					<h1>id: 01</h1>
					<h1>Post_id: {{ post_id }}</h1>
				{% endif %}
			{% endblock %}
		</div>
	</body>
</html>